.font-medium{
    font-weight: 500;
}

.font-small{
    font-size: 0.75rem;
}

.font-family-roboto{
    font-family: 'Roboto', sans-serif;
}

.font-spacing-1{
    letter-spacing: 0.25rem;
}

.font-spacing-2{
    letter-spacing: 0.5rem;
}