// Utility
// ––––––––––––––––––––––––––––––––––––––––––––––––––

// Clear a float with .clearfix
.clearfix {
  &:after {
    clear: both;
    content: ' '; // The space content is one way to avoid an Opera bug.
    display: table;
  }
}

// Float either direction
.float-left {
  float: left;
}

.float-right {
  float: right;
}


.w-full{
  width: 100%;
}

.h-full{
  height: 100%;
}

.py{
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.pt{
  padding-top: 1rem;
}

.pt-1{
  padding-top: 0.25rem;
}

.mt{
  margin-top: 1rem;
}


.mb{
  margin-bottom: 1rem;
}

.mt-1{
  margin-top: 1.25rem;
}

.mt-2{
  margin-top: 2rem;
}

.mt-3{
  margin-top: 3rem;
}

.text-center{
  text-align: center;
}

.text-lg{
  font-size: 1.25rem;
}

.text-xm{
  font-size: 0.75rem;
}

.border-b{
  border-bottom: 1px solid #e6e6e6;
}

.border{
  border: 1px solid #e6e6e6;
}

.border-transparent{
  border: 1px solid transparent;
}

.aspect-video{
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}


.aspect-auto{
  position: relative;
  padding-bottom: 100%;
  height: 0;
  overflow: hidden;
}


.section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 1rem;
  margin-top: 2rem;
}

.shadow-sm {
  box-shadow: 0px 1px 2px 0px rgba(0, 0 ,0, 0.05);
}	

.shadow { 	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0,  0.1);}
.shadow-md {	box-shadow: 0 4px 6px -1px rgba(0, 0, 0 , 0.1), 0 2px 4px -2px rgba(0, 0, 0,  0.1);}
.shadow-lg {	box-shadow: 0 10px 15px -3px rgba(0, 0, 0,  0.1), 0 4px 6px -4px rgba(0, 0, 0,  0.1);}
.shadow-xl {	box-shadow: 0 20px 25px -5px rgba(0, 0, 0,  0.1), 0 8px 10px -6px rgba(0, 0, 0,  0.1);}
.shadow-2xl {	box-shadow: 0 25px 50px -12px rgba(0, 0, 0,  0.25);}
.shadow-inner {	box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.05);}
.shadow-none	{ box-shadow: 0, 0, #0000;}


.rounded	{border-radius: 0.25rem; }
.rounded-md	{border-radius: 0.375rem;}
.rounded-lg	{border-radius: 0.5rem;}
.rounded-xl	{border-radius: 0.75rem;}
.rounded-2xl	{border-radius: 1rem;}
.rounded-3xl	{border-radius: 1.5rem;}
.rounded-4xl	{border-radius: 2rem;}
.rounded-5xl	{border-radius: 3rem;}
.rounded-6xl	{border-radius: 4rem;}

.m-lg-0	{margin: 0;}
.m-lg-1	{margin: 0.25rem;}
.m-lg-2	{margin: 0.5rem;}
.m-lg-3	{margin: 0.75rem;}
.m-lg-4	{margin: 1rem;}
.m-lg-5	{margin: 1.25rem;}
.m-lg-6	{margin: 1.5rem;}
.m-lg-7	{margin: 1.75rem;}
.m-lg-8	{margin: 2rem;}
.m-lg-9	{margin: 2.25rem;}
.m-lg-10	{margin: 2.5rem;}
.m-lg-11	{margin: 2.75rem;}
.m-lg-12	{margin: 3rem;}
.m-lg-13	{margin: 3.25rem;}
.m-lg-14	{margin: 3.5rem;}
.m-lg-15	{margin: 3.75rem;}
.m-lg-16	{margin: 4rem;}
.m-lg-17	{margin: 4.25rem;}
.m-lg-18	{margin: 4.5rem;}
.m-lg-19	{margin: 4.75rem;}
.m-lg-20	{margin: 5rem;}

.p-lg-0	{padding: 0;}
.p-lg-1	{padding: 0.25rem;}
.p-lg-2	{padding: 0.5rem;}
.p-lg-3	{padding: 0.75rem;}
.p-lg-4	{padding: 1rem;}
.p-lg-5	{padding: 1.25rem;}
.p-lg-6	{padding: 1.5rem;}
.p-lg-7	{padding: 1.75rem;}
.p-lg-8	{padding: 2rem;}
.p-lg-9	{padding: 2.25rem;}
.p-lg-10	{padding: 2.5rem;}
.p-lg-11	{padding: 2.75rem;}
.p-lg-12	{padding: 3rem;}
.p-lg-13	{padding: 3.25rem;}
.p-lg-14	{padding: 3.5rem;}
.p-lg-15	{padding: 3.75rem;}
.p-lg-16	{padding: 4rem;}
.p-lg-17	{padding: 4.25rem;}
.p-lg-18	{padding: 4.5rem;}
.p-lg-19	{padding: 4.75rem;}
.p-lg-20	{padding: 5rem;}

.m-t-0	{margin-top: 0;}
.m-t-1	{margin-top: 0.25rem;}
.m-t-2	{margin-top: 0.5rem;}
.m-t-3	{margin-top: 0.75rem;}
.m-t-4	{margin-top: 1rem;}
.m-t-5	{margin-top: 1.25rem;}
.m-t-6	{margin-top: 1.5rem;}
.m-t-7	{margin-top: 1.75rem;}
.m-t-8	{margin-top: 2rem;}
.m-t-9	{margin-top: 2.25rem;}
.m-t-10	{margin-top: 2.5rem;}
.m-t-11	{margin-top: 2.75rem;}
.m-t-12	{margin-top: 3rem;}
.m-t-13	{margin-top: 3.25rem;}
.m-t-14	{margin-top: 3.5rem;}
.m-t-15	{margin-top: 3.75rem;}
.m-t-16	{margin-top: 4rem;}
.m-t-17	{margin-top: 4.25rem;}
.m-t-18	{margin-top: 4.5rem;}
.m-t-19	{margin-top: 4.75rem;}
.m-t-20	{margin-top: 5rem;}

.m-b-0	{margin-bottom: 0;}
.m-b-1	{margin-bottom: 0.25rem;}
.m-b-2	{margin-bottom: 0.5rem;}
.m-b-3	{margin-bottom: 0.75rem;}
.m-b-4	{margin-bottom: 1rem;}
.m-b-5	{margin-bottom: 1.25rem;}
.m-b-6	{margin-bottom: 1.5rem;}
.m-b-7	{margin-bottom: 1.75rem;}
.m-b-8	{margin-bottom: 2rem;}
.m-b-9	{margin-bottom: 2.25rem;}
.m-b-10	{margin-bottom: 2.5rem;}
.m-b-11	{margin-bottom: 2.75rem;}
.m-b-12	{margin-bottom: 3rem;}
.m-b-13	{margin-bottom: 3.25rem;}
.m-b-14	{margin-bottom: 3.5rem;}
.m-b-15	{margin-bottom: 3.75rem;}
.m-b-16	{margin-bottom: 4rem;}
.m-b-17	{margin-bottom: 4.25rem;}
.m-b-18	{margin-bottom: 4.5rem;}
.m-b-19	{margin-bottom: 4.75rem;}
.m-b-20	{margin-bottom: 5rem;}

.m-x-0	{margin-left: 0; margin-right: 0;}
.m-x-1	{margin-left: 0.25rem; margin-right: 0.25rem;}
.m-x-2	{margin-left: 0.5rem; margin-right: 0.5rem;}
.m-x-3	{margin-left: 0.75rem; margin-right: 0.75rem;}
.m-x-4	{margin-left: 1rem; margin-right: 1rem;}
.m-x-5	{margin-left: 1.25rem; margin-right: 1.25rem;}
.m-x-6	{margin-left: 1.5rem; margin-right: 1.5rem;}
.m-x-7	{margin-left: 1.75rem; margin-right: 1.75rem;}
.m-x-8	{margin-left: 2rem; margin-right: 2rem;}
.m-x-9	{margin-left: 2.25rem; margin-right: 2.25rem;}
.m-x-10	{margin-left: 2.5rem; margin-right: 2.5rem;}
.m-x-11	{margin-left: 2.75rem; margin-right: 2.75rem;}
.m-x-12	{margin-left: 3rem; margin-right: 3rem;}
.m-x-13	{margin-left: 3.25rem; margin-right: 3.25rem;}
.m-x-14	{margin-left: 3.5rem; margin-right: 3.5rem;}
.m-x-15	{margin-left: 3.75rem; margin-right: 3.75rem;}
.m-x-16	{margin-left: 4rem; margin-right: 4rem;}
.m-x-17	{margin-left: 4.25rem; margin-right: 4.25rem;}
.m-x-18	{margin-left: 4.5rem; margin-right: 4.5rem;}
.m-x-19	{margin-left: 4.75rem; margin-right: 4.75rem;}
.m-x-20	{margin-left: 5rem; margin-right: 5rem;}

.m-y-0	{margin-top: 0; margin-bottom: 0;}
.m-y-1	{margin-top: 0.25rem; margin-bottom: 0.25rem;}
.m-y-2	{margin-top: 0.5rem; margin-bottom: 0.5rem;}
.m-y-3	{margin-top: 0.75rem; margin-bottom: 0.75rem;}
.m-y-4	{margin-top: 1rem; margin-bottom: 1rem;}
.m-y-5	{margin-top: 1.25rem; margin-bottom: 1.25rem;}
.m-y-6	{margin-top: 1.5rem; margin-bottom: 1.5rem;}
.m-y-7	{margin-top: 1.75rem; margin-bottom: 1.75rem;}
.m-y-8	{margin-top: 2rem; margin-bottom: 2rem;}
.m-y-9	{margin-top: 2.25rem; margin-bottom: 2.25rem;}
.m-y-10	{margin-top: 2.5rem; margin-bottom: 2.5rem;}
.m-y-11	{margin-top: 2.75rem; margin-bottom: 2.75rem;}
.m-y-12	{margin-top: 3rem; margin-bottom: 3rem;}
.m-y-13	{margin-top: 3.25rem; margin-bottom: 3.25rem;}
.m-y-14	{margin-top: 3.5rem; margin-bottom: 3.5rem;}
.m-y-15	{margin-top: 3.75rem; margin-bottom: 3.75rem;}
.m-y-16	{margin-top: 4rem; margin-bottom: 4rem;}
.m-y-17	{margin-top: 4.25rem; margin-bottom: 4.25rem;}
.m-y-18	{margin-top: 4.5rem; margin-bottom: 4.5rem;}
.m-y-19	{margin-top: 4.75rem; margin-bottom: 4.75rem;}
.m-y-20	{margin-top: 5rem; margin-bottom: 5rem;}



